body(style="justify-content: flex-start; padding: 24px")
  h1(style="margin: 0") Screenshots: FxA Integration
  ul(style="margin: 0; padding: 0; list-style: none")
    li
      a(href="shot") Shot View
    li
      a(href="my-shots") My Shots
    li
      a(href="home") Home Page
    li
      a(href="shot-advanced") Shot Page with Annotations
    li
      a(href="https://github.com/johngruen/ss-fxa-demo" target="_blank") Source