body#shot-page
  include partials/_shot-page-navbar
  main.main-content
    .main-content__shot-wrapper
      img.main-content__shot(src="images/img.png" width="643" height="auto")
      .main-content__shot-data
        .main-content__upsell
          h2 Sign in for awesome stuff.
          ul
            li extract images, text and links from your shots
            li acccess the full URL where you took every shot
            li save your favorite shots forever
            li access your shots on all your devices!
          button Sign in
        .main-content__annotation.kill
          h2 Shot Content
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quaerat distinctio, sed vel sunt illum? Quam explicabo quod nobis pariatur eum ipsa eveniet ipsum. Beatae quas tenetur explicabo eius aliquid. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit officiis libero eius accusamus rerum corrupti voluptatibus. Aspernatur repellendus adipisci, incidunt fugiat explicabo similique cum? Necessitatibus, ducimus eius. Numquam, id laudantium.
  include partials/_footer
  form.app-toggles
    a(href="/") To Index
    label(for="authenticated")
      input(type="checkbox" value="authenticated" id="authenticated")
      | Authenticated