footer.main-footer
  a.main-footer__moz-logo
  ul.main-footer__links
    li
      a Terms
    li
      a Privacy Notice
    li
      a FAQs
    li.report.kill
      a Report Shot
    li
      a Report IP Infringement
    li
      a Give Feedback
    li
      a GitHub
    li
      a Remove All Data