.shots
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
    .shot__fave.kill
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
    .shot__fave.kill
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
    .shot__fave.kill
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
  a.shot(href="shot")
    .shot__upper
