section.navbar
  a.navbar__myshots(href="my-shots")
    img(src="images/icon-shots.svg")
    span All Shots
  a.navbar__firefox-screenshots.kill(href="home")
    img(src="images/icon-screenshot.svg")
    .navbar__firefox-screenshots-content
      h2 Firefox
      h3 Screenshots
  header.navbar__main-header
    h1
      | Amazon.com: Instant Pot LUX60V3 V3 6 Qt 6-in-1 Multi-Use Programmable Pressure Cooker, Slow Cooker, Rice Cooker, Sauté, Steamer, and Warmer: Kitchen & Dining
    ul.navbar__shot-meta
      li
        a.navbar__shot-link https://www.amazon.com
      li
        .nabvar__shot-timestamp Just now
      li
        .navbar__shot-expiry Expires in 12 days
  button.navbar__button.favorite.disable
    img(src="images/icon-heart.svg")
    span Favorite
  button.navbar__button.pen
    img(src="images/icon-pen.svg")
    span Draw
  button.navbar__button.share
    img(src="images/icon-share.svg")
    span Share
  button.navbar__button.copy
    img(src="images/icon-copy.svg")
    span Copy
  button.navbar__button.download
    img(src="images/icon-download.svg")
    span Download
  button.navbar__button.delete
    img(src="images/icon-trash.svg")
    span Delete
  button.navbar__button.sign-in
    img(src="images/icon-settings.svg")
    span Sign In
  button.navbar__button.settings.kill
    img(src="images/icon-settings.svg")
    span Settings

